bin/
 obj/

 # Visual Studio user-specific files
 *.csproj.user
 .vs/
 *.suo
 *.sln.docstates

 # Other common ignores for C# projects
 *.user
 *.cache
 *.pdb
 *.dll
 *.exe

 Intermediate/Task2/.vs/
Intermediate/Task2/.vs/*

 Advance/Task 1/.vs/
Advance/Task 1/.vs/*

 Advance/Task2/.vs/
Advance/Task2/.vs/*